<template>
  <div class="calc">
    <h1>Калькулятор дробей</h1>
    <p class="desctiption">Данная реализация калькулятора не&nbsp;имеет приоритета операций (+, -, *, /),
      действия выполняются последовательно</p>
    <div class="expression">
      <span class="fraction">
        <RationalNumber v-bind:id="0" v-on:change="addExpression" />
      </span>
      <span v-for="id in fraction" v-bind:key="id" class="fraction">
        <OperationSymbol v-bind:id="id" v-on:change="addExpression" />
        <RationalNumber v-bind:id="id" v-on:change="addExpression" />
      </span>
      <div v-if="result" class="result">
        =
        <div class="rational-number">
          {{ result.numer }}
          <div class="rational-number__sep"></div>
          {{ result.denom }}
        </div>
      </div>
    </div>
    <button @click="addFraction">add fraction</button>
    <br><br><br>
    <router-link :to="{ name: 'Comments' }">комментарии</router-link>
  </div>
</template>

<script>
import Rat, * as math from "../Rat";
import RationalNumber from "./RationalNumber";
import OperationSymbol from "./OperationSymbol";

export default {
  name: "Calc",

  data: () => ({
    numbers: new Map(),
    operations: new Map(),
    fraction: [1],
    result: ""
  }),

  methods: {
    addFraction() {
      this.fraction.push(this.fraction[this.fraction.length - 1] + 1);
    },

    addExpression({ id, type, data }) {
      this[type].set(id, data);
      this.expression();
    },

    expression() {
      this.result = "";
      if (this.operations.size < this.fraction.length) return false;
      let result = this.numbers.get(0);
      this.operations.forEach((value, key) => {
        result = math[value](result, this.numbers.get(key));
      });
      this.result = result;
    }
  },

  components: {
    RationalNumber,
    OperationSymbol
  }
};
</script>

<style scoped>
.fraction,
.result {
  display: inline-flex;
  align-items: center;
  margin-bottom: 2rem;
}
.expression {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.result .rational-number {
  margin-left: 1rem;
}
</style>

