<template>
  <div class="comments">
    <h1>Комментарии</h1>
    <div class="links">
    <template v-for="(text, id)  in links">
      <div class="link" v-bind:key="id" v-on:click="remove(id)">{{ text }}</div>
    </template>
    </div>
    <router-link :to="{ name: 'Calc' }">калькулятор</router-link>
  </div>
</template>

<script>
export default {
  name: "Comments",

  data: () => ({
    links: {
      1: "Тестовый коммент 1",
      2: "Это шедевр",
      3: "Это прекрасно",
      4: "Лучшее, что я видел",
      5: "Два чая этому автору"
    }
  }),

  methods: {
    remove(id) {
      this.$socket.send(id);
      this.$options.sockets.onmessage = ({ data }) => {
        delete this.links[data];
        this.links = { ...this.links };
        delete this.$options.sockets.onmessage;
      };
    }
  }
};
</script>

<style scoped>
.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.link {
  position: relative;
  display: inline-block;
  width: max-content;
  margin-bottom: 0.5rem;
}
.link::before {
  content: "-";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translateX(-200%);
}
.link:hover {
  cursor: pointer;
  text-decoration: line-through;
}
</style>

