<template>
  <span class="operation-symbol">
    <select v-model="operation">
      <option value="add">+</option>
      <option value="sub">-</option>
      <option value="mul">*</option>
      <option value="div">/</option>
    </select>
  </span>
</template>

<script>
export default {
  name: "OperationSymbol",

  data: () => ({
    operation: ""
  }),

  props: { id: Number },

  watch: {
    operation() {
      this.$emit("change", {
        id: this.id,
        type: "operations",
        data: this.operation
      });
    }
  }
};
</script>
