<template>
  <div class="rational-number">
    <input v-model.number="numer" type="number">
    <div class="rational-number__sep"></div>
    <input v-model.number="denom" type="number">
    {{ rationalNumber }}
  </div>
</template>

<script>
import Rat from "../Rat";

const normalizeDenom = x => (x < 1 ? 1 : x);

export default {
  name: "RationalNumber",

  props: {
    id: Number
  },

  data: () => ({
    numer: 1,
    denom: 2
  }),

  computed: {
    rationalNumber() {
      this.denom = normalizeDenom(this.denom);
      this.$emit("change", {
        id: this.id,
        type: "numbers",
        data: Rat.of(this.numer, this.denom)
      });
    }
  }
};
</script>

<style>
.rational-number {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.rational-number:first-child {
  margin-left: 0;
}
.rational-number__sep {
  width: 50px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 3px 0;
}
</style>

<style scoped>
input {
  width: 30px;
  text-align: center;
  padding: 4px 1px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}
</style>


