<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 3rem 2vw;
}

.desctiption {
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  max-width: 600px;
  margin-bottom: 3rem;
}
.desctiption::before {
  content: "*";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate(-100%, -50%);
}
button {
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  user-select: none;
  outline: none;
}
</style>
